.App {
  text-align: center;
  margin-top: 40px;
  font-family: Arial, sans-serif;
}

.to-do-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-wrap: break-word;
}

.to-do-container ul {
  list-style: none;
  padding: 0;
  width: 300px;
  overflow-wrap: break-word;
}

.to-do-container li {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  padding: 10px;
  margin: 5px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  overflow-wrap: break-word;
}

.to-do-container li.done {
  text-decoration: line-through;
  color: gray;
  background-color: #e8e8e8;
  cursor: pointer;
  overflow-wrap: break-word;
  cursor: pointer;

}

.delete-btn {
  background: none;
  border: none;
  color: red;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
}

input[type="text"] {
  padding: 5px;
  width: 200px;
  margin-right: 10px;
}

button {
  padding: 5px 10px;
  cursor: pointer;
}
